{% extends 'base.html'%}

{% block conteudo %}
<div class="card mb-3">
    <div class="card-header">
        Tem certeza que deseja remover a curso abaixo?
    </div>
    <div class="card-body">
        <h5 class="card-title">{{curso.titulo}}</h5>
        <p class="card-text">{{curso.descricao}}</p>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>
    </div>
</div>
{% endblock conteudo %}