{% extends 'base.html' %}
{% load meus_filtros %}

{% block conteudo %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form_curso.titulo.errors }}
        <label>Título: </label>
        {{ form_curso.titulo | addclass:'form-control' }}
    </div>
    <div class="form-group">
        {{ form_curso.descricao.errors }}
        <label>Descrição: </label>
        {{ form_curso.descricao | addclass:'form-control'}}
    </div>
    <div class="form-group">
        {{ form_curso.data_expiracao.errors }}
        <label>Data de expiração: </label>
        {{ form_curso.data_expiracao | addclass:'form-control'}}
    </div>
    <div class="form-group">
        {{ form_curso.prioridade.errors }}
        <label>Prioridade: </label>
        {{ form_curso.prioridade | addclass:'form-control'}}
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar">
    </div>

</form>
{% endblock conteudo %}