{% extends 'base.html' %}

{% block conteudo %}
<h1>Listagem de cursos</h1>
{% for curso in cursos%}
<div class="card mb-3">
    <div class="card-header">
        {{ curso.get_prioridade_display }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{curso.titulo}}</h5>
        <p class="card-text">{{curso.descricao}}</p>
        <hr>
        <a href="{% url 'editar_curso' curso.id %}">Alterar Tarefa</a>
        <a href="{% url 'remover_curso' curso.id %}">Remover Tarefa</a>
    </div>
</div>
{% endfor %}
<a href="{% url 'cadastrar_curso' %}"><input type="button" class="btn btn-primary mb-3" value="Cadastrar Tarefa"></a>
{% endblock conteudo %}