
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Cursos</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Gerencidor de Cursos - APP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'listar_cursos' %}">Listar Cursos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'deslogar_usuario' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="container">
        {% block conteudo %}
        {% endblock conteudo %}
    </main>
</body>
</html>