<h1>{{nome_autor }}</h1>
{% if latest_question_list%}
<ul>
    {% for question in latest_question_list %}


        <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
            ----Data de publicação: {{question.pub_date}}
        </li>
        <br>

    {% endfor %}

    <br>
    <a href="{% url 'polls:index' %}">Página Inicial</a>
</ul>
    {% else %}
    <p>Nenhuma questão disponível!</p>
{% endif%}
