<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicações DSWeb 2020.1</title>
</head>
<body>
    <h1>Aplicações da Disciplina DSWeb 2020.1</h1>
    <h3>Selecione a aplicação desejada:</h3>
    <ul>
        <li><a href="{% url 'polls:mysite' %}">Aplicação Enquete - Módulo 1</a></li>
        <li><a href="{% url 'trackercurses:index' %}">TrackerCurses - Módulo 2</a></li>
    </ul>
</body>
</html>