{% block %}Lista das Últimas Enquetes{% endblock %}

    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">
                    {{ question_text|truncatewords:30 }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Não há enquetes cadastradas até o momento!</h3>
    {% endif %}


<!--{% load static %}-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">-->

<!--{% block titulo %}Lista das Últimas Enquetes{% endblock %}-->

<!--{% if latest_question_list %}-->
<!--<ul>-->
<!--    {% for question in latest_question_list %}-->
<!--        <li><a href="{% url 'polls:detail' question.id %}"> {{question.question_text}}</a></li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% else %}-->
<!--    <p>Nenhuma questão disponível!</p>-->
<!--{% endif%}-->